# cache
__pycache__
.*cache

# ipynb
.ipynb_checkpoints
*.ipynb

# local config
config.toml
.venv
.env

# editor-specific
.vscode
*.code-workspace

# data
data
personal

# generated
*.html
*.pickle

# artifacts
dist
**.egg-info

# coverage
htmlcov
coverage.xml
.coverage
