[submodule "QSlang"]
	path = QSlang
	url = https://github.com/ErikBjare/QSlang.git
[submodule "chatalysis"]
	path = chatalysis
	url = https://github.com/ErikBjare/chatalysis.git
[submodule "mifit-data-export"]
	path = vendor/mifit-data-export
	url = https://github.com/Dolnor/mifit-data-export.git
