[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "==1.2.1"
pandas = "*"
matplotlib = "*"
statsmodels = "*"
calmap = {editable = true,git = "https://github.com/MarvinT/calmap.git"}
joblib = "*"
aw-research = {editable = true,file = "./aw-research"}
qslang = {editable = true,file = "./QSlang"}
tabulate = "*"
#togglcli = {editable = true,git = "https://github.com/AuHau/toggl-cli.git"}
pint = "*"
toml = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"
pytest = "*"
flake8 = "*"
mypy = "*"
jupyterlab = "*"
