[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
pytest = "*"
calmap = {editable = true, git = "https://github.com/MarvinT/calmap.git"}

[dev-packages]

[requires]
python_version = "3.7"
